h1 {
  text-transform: uppercase;
  font-size: 54px;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 8.64px; }

h2 {
  font-size: 34px;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 8.64px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #3c3c3c; }

img {
  max-width: 100%; }

.grid {
  width: 900px;
  margin: 0 auto; }

.content-box {
  width: 580px;
  margin: 0 auto; }

.section-box {
  padding: 150px 0; }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  color: #fff; }
  .hero__logo {
    display: inline-block;
    margin-bottom: 90px; }
  .hero__title {
    margin-bottom: 50px; }
  .hero__description {
    font-size: 15px;
    letter-spacing: .9px;
    line-height: 29px;
    text-transform: uppercase; }
  .hero__scroll {
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-left: -12px;
    width: 23px;
    height: 27px;
    background-image: url("../img//scroll.svg");
    background-repeat: no-repeat;
    background-size: contain; }

.section-box {
  text-align: center; }
  .section-box--servis {
    background-image: url("../img/services.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff; }
  .section-box__conteiner {
    position: relative;
    border: 2px solid #3c3c3c;
    border-top: none; }
    .section-box__conteiner--border-white {
      border-color: #fff; }
  .section-box__title::before, .section-box__title::after {
    content: '';
    display: inline-block;
    width: 240px;
    height: 2px;
    margin-bottom: 20px;
    background-color: #3c3c3c; }
  .section-box__title::before {
    content: '';
    margin-right: 40px; }
  .section-box__title::after {
    content: '';
    margin-left: 40px; }
  .section-box__title {
    position: absolute;
    top: -31px;
    left: 0;
    display: inline-block; }
    .section-box__title--enother:before, .section-box__title--enother:after {
      content: '';
      width: 240px;
      height: 2px;
      margin-bottom: 20px;
      background-color: #fff; }
    .section-box__title--enother:after {
      content: '';
      margin-left: 60px; }
  .section-box__deskription {
    padding-top: 75px;
    padding-left: 174px;
    padding-right: 174px;
    line-height: 25.86px;
    font-size: 16px; }
    .section-box__deskription--top {
      padding-top: 35px;
      padding-right: 225px;
      padding-bottom: 30px;
      padding-left: 225px; }
    .section-box__deskription--normalize {
      padding-top: 0; }
    .section-box__deskription--normalize-1 {
      padding-top: 0;
      padding-bottom: 30px; }
