//section-box

.section-box {
    text-align: center;

    &--servis{
        background-image: url('#{$path-img}services.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: $color-white;
    }


    &__conteiner {
        position: relative;
        border: 2px solid $color-base;
        border-top: none;

        &--border-white{
            border-color: $color-white;
        }
    }

    &__title::before,
    &__title::after{
        content: '';
        display: inline-block;
        width: 240px;
        height: 2px;
        margin-bottom: 20px;
        background-color: $color-base;
    }

    &__title::before{
        content: '';
        margin-right: 40px;
    }

    &__title::after{
        content: '';
        margin-left: 40px;
    }

    &__title {
        position: absolute;
        top: -31px;
        left: 0;
        display: inline-block;

        &--margin::before,
        &--margin::after{
            display: inline-block;
            width: 200px;
            height: 2px;
            margin-bottom: 20px;
            background-color: $color-base;
        }

        &--margin::before{
            content: '';
            margin-right: 20px;
        }

        &--margin::after{
            margin-left: 33.5px;
        }

        &--enother:before,
        &--enother:after{
            content: '';
            width: 240px;
            height: 2px;
            margin-bottom: 20px;
            background-color: $color-white;
        }

        &--enother:after{
            content: '';
            margin-left: 60px;
        }
        
    }

    &__deskription {
        padding-top: 75px;
        padding-left: 174px;
        padding-right: 174px;
        line-height: 25.86px;
        font-size: 16px;

        &--top{
            padding-top: 35px;
            padding-right: 225px;
            padding-bottom: 30px;
            padding-left: 225px;
            
        }

        &--normalize{
            padding-top: 0;
        }

        &--normalize-1{
            padding-top: 0;
            padding-bottom: 30px;
        }

        &--up{
            padding-top: 0;
            padding-bottom: 90px;
            font-size: 14px;
        }
    }

    &__pen {
        display: inline-block;
        
        padding-top: 120px;
    }

    &__small-title{
        padding-top: 35px;
        padding-bottom: 35px;
    }
}